:root {
    --space-sm-1: #{map-get($map: $spaces, $key: 'sm-1')};
    --space-sm-2: #{map-get($map: $spaces, $key: 'sm-2')};
    --space-md-1: #{map-get($map: $spaces, $key: 'md-1')};
    --space-md-2: #{map-get($map: $spaces, $key: 'md-2')};
    --space-lg-1: #{map-get($map: $spaces, $key: 'lg-1')};
    --space-lg-2: #{map-get($map: $spaces, $key: 'lg-2')};
}

html {
    font-size: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: $font-size-base;
}

p {
    line-height: 1.5em;
    font-weight: 300;
}

h1 {
    font-size: $font-size-large;
}

h2 {
    font-size: $font-size-big-2;
}

h3 {
    font-size: $font-size-big-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

@mixin main--sm {
    :root {
        --space-sm-1: #{map-get($map: $spaces, $key: 'sm-1--sm')};
        --space-sm-2: #{map-get($map: $spaces, $key: 'sm-2--sm')};
        --space-md-1: #{map-get($map: $spaces, $key: 'md-1--sm')};
        --space-md-2: #{map-get($map: $spaces, $key: 'md-2--sm')};
        --space-lg-1: #{map-get($map: $spaces, $key: 'lg-1--sm')};
        --space-lg-2: #{map-get($map: $spaces, $key: 'lg-2--sm')};
    }
    
    body {
        overflow-wrap: break-word;
    }
    
    h1 {
        font-size: $font-size-large--sm;
    }
    
    h2 {
        font-size: $font-size-big-2--sm;
    }
    
    h3 {
        font-size: $font-size-big-1--sm;
    }
}