.comments-section {
    @extend .container;

    &__header {
        text-align: center;
    }
}

.comments-slider {
    margin-top: var(--space-md-1);

    &__footer {
        margin-top: var(--space-sm-2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.comment {
    padding: var(--space-md-1) var(--space-md-2);
    padding-bottom: var(--space-sm-2);

    font-size: $font-size-small-2;

    border: solid 2px $color-black;
    border-radius: 12px;

    &__paragraph {
        &:not(:first-child) {
            margin-top: var(--space-sm-1); 
        }
    }

    &__footer {
        margin-top: var(--space-md-1); 
    }
}

@mixin comments--sm {
    .comment {
        padding: var(--space-sm-1);
        padding-bottom: var(--space-sm-2);
    }
}