.feedback-section {
    @extend .container;
    margin-top: var(--space-lg-2);

    &__header {
        text-align: center;
    }

    &__content  {
        margin-top: var(--space-md-1);
        @extend .container-grid;
    }

    &__info {
        grid-column: span 6;
    }

    &__form {
        grid-column: span 6;
    }

    &__phone {
        margin-top: var(--space-md-1);
        display: block;
    }

    &__email {
        margin-top: var(--space-sm-2);
        display: block;
    }
}

@mixin feedback-section--sm {
    
}