.footer {
    @extend .container-fluid;
    
    margin-top: var(--space-lg-2);

    display: flex;
    align-items: center;

    font-size: $font-size-small-1;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $color-white;

    padding-top: var(--space-sm-1);
    padding-bottom: var(--space-sm-1);

    background-color: $color-black;

    &__link:not(:last-child) {
        margin-right: var(--space-sm-2);
    }

    &__logo {
        margin-right: auto;
        object-fit: contain;
    }
}

@mixin footer--sm {
    .footer {
        flex-direction: column;
    
        padding-top: var(--space-sm-2);
        padding-bottom: var(--space-md-2);

        &__link:not(:last-child) {
            margin-right: 0;
        }

        &__logo {
            margin-right: 0;
        }

        > * {
            &:not(:first-child) {
                margin-top: var(--space-sm-2);
            }
        }
    }
}