.header {
    position: relative;

    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;

    color: $color-white;

    &::before {
        content: '';
        
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: black;
        background-image: url(/public/images/andrey.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: top;
    
        filter: brightness(0.35);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__name {
        margin-bottom: var(--space-md-1);
        font-size: $font-size-small-1;
    }

    &__title {
        margin-bottom: var(--space-md-1);
    }
}

@mixin header--sm {
    .header {
        &::before {
            background-image: none;
        }
    }
}