.pluses-section {
    margin: var(--space-lg-2) 0;
    padding: var(--space-lg-2) 0;
    

    background-color: $color-black;
    color: $color-white;

    &__header {
        @extend .container;
        text-align: center;
    }

    &__subtitle {
        margin-top: var(--space-sm-2);
        display: inline-block;
    }

    &__content {
        @extend .container;
        margin-top: var(--space-md-2);
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        padding: 0 var(--space-md-1);
        text-align: center;
    }

    &__icon {
        width: 70px;
    }

    &__name {
        margin-top: var(--space-sm-2);
    }

    &__paragraph {
        margin-top: var(--space-sm-1);
    
        // line-height: 1.5em;
        // font-weight: 300;
        font-size: $font-size-small-1;
    }
}

@mixin pluses-section--sm {
    .pluses-section {
        &__content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            row-gap: var(--space-sm-2);
        }
    }
}