.portfolio-item-section {
    @extend .container;
    margin-top: map-get($map: $spaces, $key: 6);

    &__header {
        text-align: center;
    }

    &__title {
        margin-bottom: map-get($map: $spaces, $key: 3);
    }

    &__subtitle {
        // font-weight: 300;
    }
}

@mixin portfolio-item-section--sm {
    
}