.slider {
    position: relative;

    margin-top: var(--space-md-2);

    padding-left: var(--space-lg-2);
    padding-right: var(--space-lg-2);

    &__slide {
        @extend .container-grid;
        height: auto;

        > img {
            margin: 0 auto;
            max-width: 100%;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__button {
        position: absolute;
        z-index: 1;
        top: 50%;

        transform: translateY(-50%);

        &_left {
            left: 0;
            margin-left: var(--space-lg-2);
        }

        &_right {
            right: 0;
            margin-right: var(--space-lg-2);
        }
    }

    &__pagination {
        margin-top: -var(--space-sm-1);
        margin-left: -calc(var(--space-sm-1) / 2);
        margin-right: -calc(var(--space-sm-1) / 2);
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &:last-child {
            padding-top: var(--space-sm-2);
        }
    }

    &__bullet {
        margin-top: var(--space-sm-1);
        margin-left: calc(var(--space-sm-1) / 2);
        margin-right: calc(var(--space-sm-1) / 2);

        width: 16px;
        height: 16px;

        background-color: $color-black;
        border-radius: 50%;
    
        opacity: 0.5;

        &.active {
            opacity: 1;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#slider-1 .slider__slide > img {
    grid-column: span 4 / 9;
}

#slider-2 .slider__slide > img {
    grid-column: span 8 / 11;
}

#slider-3 .slider__slide > img {
    grid-column: span 8 / 11;
}

#slider-4 .slider__slide > img {
    grid-column: span 6 / 10;
}

#slider-5 .slider__slide > img {
    grid-column: span 6 / 10;
}

#slider-6 .slider__slide > img {
    grid-column: span 6 / 10;
}

#slider-7 .slider__slide > img {
    grid-column: span 4 / 9;
}

#slider-8 .slider__slide > img {
    grid-column: span 6 / 10;
}

#slider-8 {
    margin-bottom: var(--space-lg-2);
}

@mixin slider--sm {
    .slider {
        padding-left: 0;
        padding-right: 0; 
    
        &__button {
            &_left {
                margin-left: 0;
            }
    
            &_right {
                margin-right: 0;
            }
        }

        &__bullet {
            width: 8px;
            height: 8px;
        }
    }
}