.title-black {
    @extend .container-fluid;

    padding-top: var(--space-md-2);
    padding-bottom: var(--space-md-2);
    
    text-align: center;
    color: $color-white;

    background-color: $color-black;
}

@mixin title-black--sm {
    
}