.welcome-section {
    &__content {
        @extend .container;
        @extend .container-grid;

        padding-top: var(--space-md-1);
        padding-bottom: var(--space-md-1);
    }

    &__paragraph {
        grid-column: span 6 / 10;
        text-align: center;
        // line-height: 1.25em;
        // font-weight: 300;
    }
}

@mixin welcome-section--sm {
    .welcome-section {
        &__paragraph {
            grid-column: span 12;
        }
    }
}