.work-section {
    @extend .container;
    margin-top: var(--space-lg-2);

    &__header {
        text-align: center;
    }

    &__content {
        margin-top: var(--space-md-2);
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        padding: 0 var(--space-md-1);
        text-align: center;
    }

    &__number {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 70px;
        height: 70px;
        
        font-size: $font-size-big-1;
        color: $color-red;
        
        background-color: $color-black;
        border-radius: 50%;
    }

    &__name {
        margin-top: var(--space-sm-2);
    }

    &__paragraph {
        margin-top: var(--space-sm-1);
    
        // line-height: 1.5em;
        // font-weight: 300;
        font-size: $font-size-small-1;
    }
}

@mixin work-section--sm {
    .work-section {
        &__content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            row-gap: var(--space-sm-2);
        }
    }
}